{
  "presets": [
    "@ava/stage-4",
    "@ava/stage-4",
    "react-native",
    "stage-0",
    "env",
    "babel-preset-expo",
    "react-native-stage-0/decorator-support",

  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }

}
